.email{
    font-size: 30px;
    font-family: sans-serif;
    padding: 5px;
    background-color: lightcyan;
    color: darkslateblue;
    margin-left: 600px;
    margin-top: 130px;
    display: block;
}

.password{
    font-size: 30px;
    font-family: sans-serif;
    padding: 5px;
    background-color: lightcyan;
    color: darkslateblue;
    margin-left: 600px;
    margin-top: 20px;
    display: block;
}

button{
    font-size: 30px;
    font-family: sans-serif;
    padding: 5px;
    background-color: darkturquoise;
    color: darkblue;
    margin-left: 600px;
    margin-top: 40px;
    display: block;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: dodgerblue;
}

h3{
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
}

.bg{
    position: absolute;
    width: 25%;
    height: 57%;
}

.second{
    position: absolute;
    width: 20%;
    height: 57%;
    margin-left: 75%;
}

.bottom{
    position: absolute;
    width: 50%;
    height: 37%;
}

.last{
    position: absolute;
    width: 50%;
    height: 37%;
    margin-left: 50%;
}

.main{
    background-color: lightgoldenrodyellow;
}