table{
    margin-left: 80px;
    margin-top: 80px;
    border-spacing: 70px 0;
}

tr{
    font-size: 23px;
    font-family: cursive;
    color: darkblue;
}

td{
    font-size: 20px;
    font-family: sans-serif;
    color: darkorchid
}

button{
    font-size: 30px;
    font-family: sans-serif;
    padding: 5px;
    background-color: darkseagreen;
    color: darkblue;
    margin-left: 600px;
    margin-top: 40px;
    display: block;
}

.mainDiv{
    border: 5px outset darkmagenta;
    background-color: lightgrey; 
    margin-top: 10%;   
}